@import "vars";
@import "fonts";

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



body {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background-color: var(--bg-light);
    color: var(--dark);
}

a {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
}

.container {
    padding: 0 32px;
    margin-bottom: 64px;
}

.header {
    padding-top: 70px;
    &-top {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto auto;
        margin-bottom: 242px;
    }
}

.burger-menu {
    background: none;
    border: none;
    padding: 0;
    margin-right: 24px;
    &__icon {
        position: relative;
        width: 24px;
        height: 3px;
        background-color: var(--dark);
        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 24px;
            height: 3px;
            background-color: var(--dark);
        }
        &::before {
            top: -8px;
            left: 0;
        }
        &::after {
            top: 8px;
            left: 0;
        }
    }
}

.sprite {
    object-fit: cover;
}

.menu {
    &-list {
        flex-direction: row;
        display: none;
    }
}

.title-wrapper {
    position: relative;
    margin-bottom: 32px;
}
.title {
    position: absolute;
    font-weight: 300;
    font-size: 56px;
    line-height: 68px;
    color: var(--pink);
    letter-spacing: 0.05em;
    z-index: -2;
    &_accent {
        position: relative;
        z-index: 1;
        mix-blend-mode: difference;
    }
}

.paragraph_d {
    display: none;
}
.header-paragraph {
    margin-bottom: 22px;
}

.link {
    &_blue {
        color: var(--blue);
    }
    & .arrow {
        display: inline-block;
        margin-left: 8px;
        width: 16px;   
        height: 12px;
        background: url('../img/icons/icons.svg#arrow') center center/cover no-repeat;
    }
    & .arrow_blue {
        background: url('../img/icons/icons.svg#arrow-blue') center center/cover no-repeat;
    }
}

.bg-pink {
    background-color: var(--pink);
    position: absolute;
    width: 183px;
    height: 514px;
    right: 0px;
    top: -58px;
    z-index: -5;
}
.bg-blue {
    position: absolute;
    width: 355px;
    height: 72px;
    left: 0px;
    top: 423px;
    background: var(--blue);
    mix-blend-mode: overlay;
    z-index: -3;
}
.bg-mac-img {
    position: absolute;
    width: 137px;
    height: 96px;
    right: 0px;
    top: 140px;
    background: url('../img/mac-m2x.jpg') center center/cover no-repeat;
    background-color: #da9705;
}
.bg-girl {
    position: absolute;
    width: 137px;
    height: 96px;
    right: 76px;
    top: 327px;
    &__img {
        width: 137px;
        height: 96px;
        background-color: #5f2a26;
        background: url('../img/girl-m2x.jpg') center center/cover no-repeat;
    }
    &__accent {
        background-color: var(--blue);
        position: absolute;
        width: 137px;
        height: 96px;
        top: 3px;
        left: 3px;
        z-index: -3;
    }
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__item {
        margin-bottom: 40px;
        max-width: 50%;
        & img {
            width: 100%;
            height: auto;
        }
        &:last-child {
            display: none;
        }
    }
}

.process {
    &-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &-item {
        width: 100%;
        height: 388px;
        &-wrapper {
            height: 100%;
            background-color: var(--card-light);
            padding: 64px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__icon {
            object-fit: cover;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }  
}


@import "media1024";