@import "vars";
@import "fonts";

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



body {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background-color: var(--bg-light);
    color: var(--dark);
}

a {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
}

.container {
    padding: 0 32px;
    margin-bottom: 64px;
}

.header {
    padding-top: 70px;
    &-top {
        display: grid;
        align-items: center;
        grid-template-columns: 24px auto;
        column-gap: 24px;
        row-gap: 24px;
        margin-bottom: 168px;
        & .link {
            grid-column: 1/3;
            grid-row: 2/3;
        }
    }
}

.burger-menu {
    background: none;
    border: none;
    padding: 0;
    margin-right: 24px;
    &__icon {
        position: relative;
        width: 24px;
        height: 3px;
        background-color: var(--dark);
        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 24px;
            height: 3px;
            background-color: var(--dark);
        }
        &::before {
            top: -8px;
            left: 0;
        }
        &::after {
            top: 8px;
            left: 0;
        }
    }
}

.sprite {
    object-fit: cover;
}

.menu {
    &-list {
        flex-direction: row;
        display: none;
    }
}

.title-wrapper {
    position: relative;
    margin-bottom: 32px;
}
.title {
    position: absolute;
    font-weight: 300;
    font-size: 56px;
    line-height: 68px;
    color: var(--pink);
    letter-spacing: 0.05em;
    z-index: -2;
    &_accent {
        position: relative;
        z-index: 1;
        mix-blend-mode: difference;
    }
}

.subtitle {
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
}

.display_d {
    display: none;
}
.header-paragraph {
    margin-bottom: 22px;
}

.link {
    &_blue {
        color: var(--blue);
    }
    &_pink {
        color: var(--pink);
    }
    & .arrow {
        display: inline-block;
        margin-left: 8px;
        width: 16px;   
        height: 12px;
        background: url('../img/icons/icons.svg#arrow') center center/cover no-repeat;
    }
    & .arrow_blue {
        background: url('../img/icons/icons.svg#arrow-blue') center center/cover no-repeat;
    }
    & .arrow_pink {
        background: url('../img/icons/icons.svg#arrow-pink') center center/cover no-repeat;
    }
}

.bg-pink {
    background-color: var(--pink);
    position: absolute;
    width: 183px;
    height: 514px;
    right: 0px;
    top: -58px;
    z-index: -5;
}
.bg-blue_overlay {
    position: absolute;
    width: 300px;
    height: 72px;
    left: 0px;
    top: 423px;
    background: var(--blue);
    mix-blend-mode: overlay;
    z-index: -3;
}
.bg-mac-img {
    position: absolute;
    width: 137px;
    height: 96px;
    right: 0px;
    top: 140px;
    background: url('../img/mac-m2x.jpg') center center/cover no-repeat;
    background-color: #da9705;
}
.bg-girl {
    position: absolute;
    width: 137px;
    height: 96px;
    right: 85px;
    top: 327px;
    &__img {
        width: 137px;
        height: 96px;
        background-color: #5f2a26;
        background: url('../img/girl-m2x.jpg') center center/cover no-repeat;
    }
    &__accent {
        background-color: var(--blue);
        position: absolute;
        width: 137px;
        height: 96px;
        top: 3px;
        left: 3px;
        z-index: -3;
    }
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__item {
        margin-bottom: 40px;
        max-width: 50%;
        & img {
            width: 100%;
            height: auto;
        }
        &:last-child {
            display: none;
        }
    }
}

.process {
    &-list {
        display: grid;
        row-gap: 32px;
        column-gap: 32px;
    }
    &-item {
        width: 100%;
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            display: none;
        }
        &__img {
            width: 100%;
            object-fit: cover;
        }
    }  
}

.card {
    &-wrapper {
        background-color: var(--card-light);
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        height: 100%;
    }
    &__icon {
            object-fit: cover;
        }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__date {
        font-size: 20px;
        line-height: 30px;
    }
    &_dark {
        color: #fff;
        .card-wrapper {
            background-color: var(--dark);
        }
    }
    &-list {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
}


.experience {
    & .container {
        position: relative;
    }
    &__icon {
        margin-bottom: 24px;
    }
    &__quote {
        & blockquote {
            font-size: 32px;
            line-height: 39px;
            margin-bottom: 24px;
        }
        & figcaption {
            margin-bottom: 24px;
        }
    }
    &__img {
        position: absolute;
        width: auto;
        height: 280px;
        right: 32px;
        bottom: -64px;
    }
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
}


.collab {
    position: relative;
    padding-top: 165px;
    .title {
        color: var(--blue);
    }
    .bg-mac-img {
        top: 0;
    }
    .bg-girl {
        right: 161px;
        top: 142px;
        &__accent {
            background-color: var(--blue);
            position: absolute;
            width: 137px;
            height: 96px;
            top: 3px;
            left: 3px;
            z-index: -4;
        }
    }
}
.bg-grey {
    position: absolute;
    width: 215px;
    height: 271px;
    right: 0px;
    top: 0;
    background-color: #ccc;
    z-index: -5;
}
.bg-pink_overlay {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 0px;
    top: 238px;
    background: var(--pink);
    mix-blend-mode: overlay;
    z-index: -3;
}

.footer {
    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    &-start {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &-menu {
        &-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            row-gap: 64px;
        }
        &__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-bottom: 28px;
        }
    }
    &-submenu {
        &-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}
.social {
    display: flex;
    gap: 16px;
}
.copyright {
    color: var(--lightText);
}
.caption {
    color: var(--middleText);
}

@import "media375";
@import "media428";
@import "media768";
@import "media1280";